@page
@model GadgetHub2.Web.Pages.Customers.CreateModel
@{

    <h2>Add New Customer</h2>

    <form method="post">
        <div class="form-group">
            <label>Name</label>
            <input asp-for="Customer.Name" class="form-control" />
            <span asp-validation-for="Customer.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input asp-for="Customer.Email" class="form-control" />
            <span asp-validation-for="Customer.Email" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-page="ListofCustomers" class="btn btn-secondary">Cancel</a>
    </form>
}
