
@page "{id:int}"
@model GadgetHub2.Web.Pages.Customers.EditModel;
@{
    ViewData["Title"] = "Edit Customer";


<h2>Edit Customer</h2>

<form method="post">
    <input type="hidden" asp-for="Customer.Id" /> 

    <div>
        <label>Name</label>
        <input asp-for="Customer.Name" class="form-control" />
    </div>
    <div>
        <label>Email</label>
        <input asp-for="Customer.Email" class="form-control" />
    </div>
        <button type="submit" class="btn btn-primary mt-2">Save</button>
</form>
}