@page
@using GadgetHub.Web.Pages.Products
@model GadgetHub.Web.Pages.Products.CreateModel
@{
    <h2>Create Product</h2>

    <form method="post">
        <div class="form-group">
            <label asp-for="Product.Name"></label>
            <input asp-for="Product.Name" class="form-control" />
            <span asp-validation-for="Product.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.Description"></label>
            <textarea asp-for="Product.Description" class="form-control"></textarea>
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.Price"></label>
            <div class="input-group">
                <span class="input-group-text">LKR</span> 
                <input asp-for="Product.Price" class="form-control" />
            </div>
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Product.CreatedOn"></label>
            <input asp-for="Product.CreatedOn" class="form-control" type="date" />
            <span asp-validation-for="Product.CreatedOn" class="text-danger"></span>
        </div>

        <!-- Image URL -->
        <div class="form-group mb-3">
            <label asp-for="Product.ImageUrl">Image URL</label>
            <input asp-for="Product.ImageUrl" class="form-control" placeholder="/images/products/sample.jp" />
            <small class="form-text text-muted">
                Example: /images/products/iphone14.jpg (make sure the image is in wwwroot/images/products)
            </small>
            <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-page="Index" class="btn btn-secondary">Cancel</a>
    </form>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
}
