@page "{id:int}"
@model GadgetHub2.Web.Pages.Products.EditModel
@{
    <h2>Edit Product</h2>

    <form method="post">
        <input type="hidden" asp-for="Product.Id" />

        <div>
            <label>Name</label>
            <input asp-for="Product.Name" class="form-control" />
        </div>
        <div>
            <label>Description</label>
            <input asp-for="Product.Description" class="form-control" />
        </div>
        <div>
            <label>Price</label>
            <input asp-for="Product.Price" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mt-2">Save</button>
    </form>

}
