@page
@using GadgetHub.Web.Pages.Customers
@model GadgetHub.Web.Pages.Customers.CreateModel
@{

    <h2>Create Customer</h2>

    <form method="post">
        <div class="form-group">
            <label asp-for="Customer.Name"></label>
            <input asp-for="Customer.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Customer.Email"></label>
            <input asp-for="Customer.Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Customer.Password"></label>
            <input asp-for="Customer.Password" type="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
}
